*::-webkit-scrollbar{
    display: none;
}

/*
colors:
#df2935
#ffcc00
*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: alice;
    src: url(../fonts/alice.ttf);
}
@font-face {
    font-family: figtree;
    src: url(../fonts/figtree.ttf);
}

p {
    display: inline-block;
    font-family: 'alice', serif;
    color: #eefff4;
    transition: color 0.2s, font-size 0.2s;
}
.slogo {font-size: 12px;}
.blogo {font-size: 32px; text-align: center; font-weight: 1000;}

.logo{
    display: flex;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 7vw;
    flex-direction: column;
    justify-content: space-between;
    width: 149.87px;
    height: 64.5px;
    transition: padding 0.2s;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #30011e;
    transition: background 0.2s;
    transition: height 0.2s;
    height: 90px;
    border-radius: 0px 0px 30px 30px;
}

header:hover {
    background: url("../images/tiger.jpg") center;
    background-size: cover;
    height: 50vh;

    p,.slogo,.blogo {font-size: 30px;color: #eefff4;}
    .logo{
        width: 200px;
        height: 100px;
        padding-top: 13vh;
        padding-left: 9vw;
    }
    
    nav {
        height: 100%;
    }

    .menu {color: #eefff4;font-weight: 700;}

    .menu:hover {
        cursor: pointer;
        text-decoration: underline;
        border-radius: 30px;
        
        .dropdown {
            display: block;
        }
        
    }
}

nav {
    display: flex;
    align-items: start;
    margin-top: 11px;
    margin-right: 7vw;
}

.menu {
    display: inline-block;
    text-decoration: none;
    align-items: center;
    font-family: "figtree", sans-serif;
    font-size: 20px;
    color: #eefff4;
    margin: 20px;
    transition: 0.2s;
}


body {
    background-color: #eefff4;
}

.dropdown {
    display: none;
}