*::-webkit-scrollbar{
    display: none;
}
@font-face {
    font-family: "alice";
    src: url(../fonts/alice.ttf);
}
@font-face {
    font-family: "figtree";
    src: url(../fonts/figtree.ttf);
}
* {
    font-family: "figtree", sans-serif;
}

a:hover {
    color: #a91101;
    text-decoration: none;
}

/* Header background with placeholder image */
.header {
    background: url('../images/gorilla.jpg') no-repeat center center;
    background-size: cover;
    padding: 3rem 0;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures it stays above other content */
    width: 100%;
    background-color: #003400;
    border-radius: 0 0 5% 5%;
}

/* Logo Styling */
.logo {
    cursor: pointer;
    font-family: "alice", serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff9fb;
    text-align: center;
}

/* Navigation Styling */
.nav-link {
    color: #fff9fb;
    font-weight: bold;
}

/* Blurb Styling */
.blurb {
    font-size: 1.2rem;
    color: #333;
    margin-top: 1rem;
    text-align: center;
}

/* Newsletter Label Styling */
.newsletter-label {
    font-weight: bold;
    color: #003400;
}

/* Logo and nav styling */
a.text-white {
    text-decoration: none;
}
/* Video container with max width */
.video-container {
    max-width: 800px;
    margin: 0 auto;
}
.btn {
    background-color: #003400;
    color: #fff9fb;
}


/* Single bubble-style background */
.nav-bubble {
    background-color: #003400;
    padding: 0.5rem 1rem;
    border-radius: 50px;
}
.nav-link.active {
    background-color: #a91101;
    color: #fff;
    border-radius: 5px;
}
.nav-link {
    color: #fff9fb;
    text-decoration: none;
}
.nav-link:hover{
    text-decoration: none;
    text-transform: uppercase;
    color: #a91101;
}
@media (max-width: 576px) {
    #conservation-tab button {
        margin: 10px 0px 10px 0px
    }
}



/* Rounded Article Styling */
.article-card {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    transition: transform 0.2s;
    overflow: hidden;
    background-color: #fafafa;
}
.article-card:hover {
    transform: scale(1.02);
}



.event-banner {
    height: 300px;
    background-size: cover;
    background-position: center;
}
.event-card {
    border-radius: 15px;
}



.accordion-button:focus {
    outline: none;
    box-shadow: none;
  }
  .contact-header {
      margin-top: 2rem;
      margin-bottom: 2rem;
  }
  .contact-form input, .contact-form textarea {
      border-radius: 15px;
  }
  .contact-info {
      font-size: 0.9rem;
  }
  .faq-section {
      margin-top: 3rem;
  }