*::-webkit-scrollbar{
    display: none;
}

/*
colors:
#df2935
#ffcc00
*/

* {
    margin: 0;
    padding: 0;
} 

@font-face {
    font-family: alice;
    src: url(../fonts/alice.ttf);
}
@font-face {
    font-family: figtree;
    src: url(../fonts/figtree.ttf);
}

header {
    display: flex;
    position: fixed;

    flex-direction: column;
    align-items: center;

    height: 70vh;
    width: 100%;
    padding: 5vh 0 0 0;

    background: url("../images/orangutan.jpg") center;
    background-size: cover;
}

/* logo */
.logo{
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
    font-family: 'alice', serif;
    color: #eefff4;
}
.logo-singapore {width: 100%;font-size: 12px;text-align: left;}
.logo-foundation {width: 100%;font-size: 12px;text-align: right;}
.logo-wildlife {width: 100%;font-size: 32px;text-align: center;font-weight: 1000;}


.item {
    display: none;
}











/*
.slogo,.blogo {
    display: inline-block;
    font-family: 'alice', serif;
    color: #eefff4;
    transition: color 0.2s, font-size 0.2s;
}
.slogo {font-size: 12px;}
.blogo {font-size: 32px; text-align: center; font-weight: 1000;}
#logo {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 149.87px;
    height: 64.5px;
    justify-content: space-between;
    text-decoration: none;
    transition: 0.2s;
}

header {
    display: flex;
    flex-direction: row;
    height: auto;
    background: url("../images/tiger.jpg") center;
    background-size: cover;
    width: calc(100% - 80px);
    background-color: #30011e;
    justify-content: space-between;
    transition: 0.2s;
    padding: 20px 40px 20px 40px;
    border-radius: 0px 0px 30px 30px;
    position: fixed;
}
.header-scrolled {
    background: url("../images/tiger.jpg") center;
    background-size: cover;
    height: 70vh;
}


.logo-scrolled {
    padding: 13vh 0 0 8vw;
}
body {
    height: 1000px;
}

*/

/*
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #30011e;
    transition: 0.2s;
    height: 90px;
    border-radius: 0px 0px 30px 30px;
}

nav {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 11px;
    margin-right: 7vw;
}
.menu{
    display: inline-block;
    align-items: center;
    margin: 20px;
    transition: 0.2s;
}
.dropdown {
    display: none;
    transition: 0.4s;
    margin-bottom: 20px;
}
.dropdownitem {
    display: block;
    text-decoration: none;
    text-align: right;
    font-family: "figtree", sans-serif;
    font-size: 20px;
    color: #eefff4;
    padding-top: 10px;
    font-weight: 100;
    transition: 0.2s;
}
.item{
    display: block;
    text-decoration: none;
    text-align:right;
    font-family: "figtree", sans-serif;
    font-size: 20px;
    color: #eefff4;
    transition: 0.2s;
}
header:hover {
    background: url("../images/tiger.jpg") center;
    background-size: cover;
    height: 50vh;

    .slogo,.blogo {font-size: 30px;color: #eefff4;}
    .logo{
        cursor: pointer;
        width: 200px;
        height: 100px;
        padding-top: 13vh;
        padding-left: 8vw;
    }
    
    nav {
        height: 100%;
    }

    .item {font-weight: 700;}

    .menu:hover {
        background-color: #30011e;
        padding: 10px;
        padding-left: 80px;
        border-radius: 0px 30px 0px 30px;
        .dropdown {
            display: block;
        }
        .dropdownitem:hover{
            font-weight: 500;
            color: #ffe679;
        }
        .item:hover{
            font-weight: 800;
            color: #ffe679;
        }
        .dropdownitem:active, .item:active {
            color: black;
        }
    }
}

body {
    background-color: #eefff4;
}



.bigmenu {
    display: none;
}

@media only screen and (max-width: 1100px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 100vw;
    }
    .logo {
        margin: 0;
    }
    nav {
        display: none;
    }
    .bigmenu {
        display: block;
        margin-top: 10px;
        font-family: "figtree";
        font-size: 20px;
        color: #eefff4;
    }
}
*/